.greyback {
  position: relative;
  border: 1px #f7f7f7;
  background-color: #f7f7f7;
  margin: auto;
  margin-top: -25px;
  width: 1000px;
  height: 870px;
}

.filtridiv {
  margin: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px orange;
  width: 500px;
  height: 70px;
}

.filter {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 30px;
}

.clear {
  position: absolute;
  border: solid 1px orange;
  background-color: white;
  height: 40px;
  width: 150px;
  margin-top: -60px;
  margin-left: 347px;
}

.cleartext {
  margin-top: 6px;
  margin-left: 25px;
}

.cleartext:active {
  color: black;
}

.cleartext:hover {
  color: white;
}

.clear:active {
  background-color: white;
}

.clear:hover {
  background-color: orange;
}

.seconddiv {
  margin: auto;
  background-color: white;
  border: solid 2px orange;
  width: 500px;
  height: 70px;
  margin-top: 150px;
  outline: none;
  font-size: 23px;
}

.thirddiv {
  margin: auto;
  background-color: white;
  border: solid 2px orange;
  width: 500px;
  height: 70px;
  margin-top: 150px;
  outline: none;
  font-size: 23px;
}

.include {
  position: absolute;
  margin-top: -330px;
}

.noinclude {
  position: absolute;
  margin-top: -110px;
}

.plus1 {
  position: absolute;
  margin-top: -55px;
  margin-left: 450px;
}

.plus2 {
  position: absolute;
  margin-top: -280px;
  margin-left: 450px;
}

.fourthdiv {
  background-color: white;
  border: solid 2px orange;
  width: 500px;
  height: 70px;
  margin-top: 50px;
}

.fourthdivtext {
  margin-left: 200px;
}

.anim1 {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: -225px;
  margin-top: -625px;
  animation: DownUp 5s;
  animation-iteration-count: infinite;
}

@keyframes DownUp {
  50% {
    margin-top: 40px;
  }
  100% {
    margin-top: -625px;
  }
}
.anim2 {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: 525px;
  margin-top: -625px;
  animation: DownUp 5s;
  animation-iteration-count: infinite;
}/*# sourceMappingURL=ingridients.css.map */