.greyleft {
  border: solid 1px #F7F7F7;
  background-color: #F7F7F7;
  width: 50%;
  height: 1000px;
}

.reglogopc {
  margin-top: 230px;
  margin-left: 150px;
}

.topreg {
  text-decoration: none;
  color: orangered;
  position: absolute;
  margin-left: 1300px;
  margin-top: -350px;
  font-weight: 200;
}

.facebook {
  position: absolute;
  width: 200px;
  height: 40px;
  margin-left: 600px;
  margin-top: 75px;
}

.google {
  position: absolute;
  width: 200px;
  height: 40px;
  margin-left: 850px;
  margin-top: 74px;
}

.lineorange {
  position: absolute;
  border: solid 1px orangered;
  width: 400px;
  margin-left: 1175px;
  margin-top: -230px;
}

.an {
  position: absolute;
  border: solid white 1px;
  background-color: white;
  color: orangered;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 20px;
  font-size: 20px;
  margin-left: 1375px;
  margin-top: -243px;
}

.pass {
  position: absolute;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px orangered;
  width: 400px;
  height: 35px;
  margin-left: 1175px;
  margin-top: 10px;
  outline: none;
}

.email {
  position: absolute;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px orangered;
  width: 400px;
  height: 35px;
  margin-left: 1175px;
  margin-top: -100px;
  outline: none;
}

.reppass {
  position: absolute;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px orangered;
  width: 400px;
  height: 35px;
  margin-left: 1175px;
  margin-top: 120px;
  outline: none;
}

.emailtext {
  position: absolute;
  color: orangered;
  margin-left: 1175px;
  margin-top: -120px;
}

.passtext {
  position: absolute;
  color: orangered;
  margin-left: 1175px;
  margin-top: -10px;
}

.passreptext {
  position: absolute;
  color: orangered;
  margin-left: 1175px;
  margin-top: 100px;
}

.regdiv3 {
  border: solid orangered 1px;
  background-color: #F7F7F7;
  border-radius: 5px;
  position: absolute;
  height: 30px;
  width: 400px;
  padding-top: 3px;
  margin-left: 1175px;
  margin-top: 185px;
}
.regdiv3 .reg3 {
  text-decoration: none;
  color: orangered;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 2px;
  margin-left: 140px;
  font-size: 24px;
  font-weight: 300;
}
.regdiv3 .reg3:active {
  color: white;
}
.regdiv3 .reg3:hover {
  color: white;
}

.logdiv3:active {
  background-color: #F7F7F7;
}

.logdiv3:hover {
  background-color: orangered;
}

.logdiv3 {
  border: solid black 1px;
  background-color: #F7F7F7;
  border-radius: 5px;
  position: absolute;
  height: 30px;
  width: 400px;
  padding-top: 3px;
  margin-left: 1175px;
  margin-top: 250px;
}
.logdiv3 .log3 {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 2px;
  margin-left: 140px;
  font-size: 24px;
  font-weight: 300;
}
.logdiv3 .log3:active {
  color: white;
}
.logdiv3 .log3:hover {
  color: white;
}

.logdiv3:active {
  background-color: #F7F7F7;
}

.logdiv3:hover {
  background-color: orangered;
}

.areu {
  position: absolute;
  font-size: 13px;
  margin-left: 1275px;
  margin-top: 225px;
}

.fix {
  margin-left: -130px;
}/*# sourceMappingURL=register.css.map */