.greybacktop{
    border: solid 1px #F7F7F7;
    width: 1000px;
    height: 200px;
    background-color: #F7F7F7;
    margin: auto;
    margin-top: -20px;

    .logopc{
        width: 325px;
        height: 100px;
        margin-top: 35px;


    }


}

.ingridientdiv{
    border: solid orangered 1px ;
    background-color: #F7F7F7;
    position: absolute;
    height: 30px;
    width: 200px;
    padding-left: 15px;
    padding-top: 3px;
    margin-left: 425px;
    margin-top: -47px;
    


    .ingridients{
        text-decoration: none;
        color: orangered;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 4px;
    }

    .ingridients:active{
        color: orangered;
    }

    .ingridients:hover{
        color: white;
    }

}

.ingridientdiv:active{
    background-color: #F7F7F7;
}
.ingridientdiv:hover{
    background-color: orangered;   
}

.search2{
    border: solid #d0d0d0 1px;
    height: 30px;
    width: 270px;
    position: absolute;
    margin-left: 675px;
    margin-top: -43px;
    padding-left: 10px;
    outline: none;
}

.searchlogo1{
    position: absolute;
    margin-left: 910px;
    margin-top: -41px;
}

.twelvegrey{
    position: absolute;
    margin-left: 950px;
    margin-top: -50px;
    width: 40px;
}

.login{
    position: absolute;
    margin-left: 800px;
    margin-top: -120px;
    text-decoration: none;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login:active{
    color: gray;
}
.login:hover{
    color: orangered;
}

.register{
    position: absolute;
    margin-left: 870px;
    margin-top: -120px;
    text-decoration: none;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register:active{
    color: gray;
}
.register:hover{
    color: orangered;
}

.favoritefood{
    position: absolute;
    margin-left: 750px;
    margin-top: -90px;
    text-decoration: none;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.favoritefood:active{
    color: gray;
}
.favoritefood:hover{
    color: orangered;
}

.heart{
    position: absolute;
    margin-left: 970px;
    margin-top: -65px;
}

.accountgrey{
    position: absolute;
    margin-left: 973px;
    margin-top: -100px;

}

.things2{
    border: #c5c5c5 solid 1px;
    border-left: none;
    border-right: none;
    width: 980px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.catalogpc{
    height: 39px;
    margin-left: 770px;
    margin-top: -2px;
}

.toptextgrey{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.desert{
    position: absolute;
    margin-top: -32px;
    margin-left: 14px;
}

.desert:active{
    color: orangered;
}

.desert:hover{
    color: orangered;
}

.comeuli{
    position: absolute;
    margin-top: -32px;
    margin-left: 90px;
}

.comeuli:active{
    color: orangered;
}

.comeuli:hover{
    color: orangered;
}

.pasta{
    position: absolute;
    margin-top: -32px;
    margin-left: 170px;
}

.pasta:active{
    color: orangered;
}

.pasta:hover{
    color: orangered;
}
.xorceuli{
    position: absolute;
    margin-top: -32px;
    margin-left: 230px;
}

.xorceuli:active{
    color: orangered;
}

.xorceuli:hover{
    color: orangered
}

.zgvis{
    position: absolute;
    margin-top: -32px;
    margin-left: 320px;
}

.zgvis:active{
    color: orangered;
}

.zgvis:hover{
    color: orangered
}

.bostneuli{
    position: absolute;
    margin-top: -32px;
    margin-left: 460px;
}

.bostneuli:active{
    color: orangered;
}

.bostneuli:hover{
    color: orangered
}

.wvniani{
    position: absolute;
    margin-top: -32px;
    margin-left: 560px;
}

.wvniani:active{
    color: orangered;
}

.wvniani:hover{
    color: orangered
}

.salatebi{
    position: absolute;
    margin-top: -32px;
    margin-left: 620px;
}

.salatebi:active{
    color: orangered;
}

.salatebi:hover{
    color: orangered
}

.sousebi{
    position: absolute;
    margin-top: -32px;
    margin-left: 710px;
}

.sousebi:active{
    color: orangered;
}

.sousebi:hover{
    color: orangered
}

.statiebi{
    position: absolute;
    margin-top: -32px;
    margin-left: 922px;
}

.statiebi:active{
    color: orangered;
}

.statiebi:hover{
    color: orangered
}

.greybackbottom{
    border: solid 1px #F7F7F7;
    width: 1000px;
    height: 900px;
    background-color: #F7F7F7;
    margin: auto;
    margin-top: -20px;

}

.text1{
    color: orangered;
    margin-left: 50px;
    margin-top: 40px;
}

.hugewhitediv{
    border: solid 1px white;
    background-color: white;
    width: 900px;
    height: 820px;
    margin-left: 50px;
}

.search{
    outline: none;
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.line{
    background-color: #c5c5c5;
    width: 850px;
    height: 0.5px;
    margin-top: 25px;
    margin-left: 25px;
}
.text2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;
}

.gasupt{
    position: absolute;
    margin-left: 725px;
    margin-top: -50px;
}

.selectdiv1{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 50px;
    margin-left: 25px;
}

.selectdiv2{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}
.selectdiv3{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.selectdiv4{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.selectdiv5{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.selectdiv6{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.selectdiv7{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.selectdiv8{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.selectdiv9{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.selectdiv10{
    border: 1px orangered solid;
    height: 30px;
    width: 850px;
    margin-top: 20px;
    margin-left: 25px;
}

.itog{
    border: 1px orange solid;
    background-color: orange;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    margin: auto;
    margin-top: 30px;

}

.itogtext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 50px;
}

.enddivfinally1{
    position: absolute;
    border: solid #738e8e 1px;
    background-color: #738e8e;
    width: 1000px;
    height: 80px;
    margin-left: 250px;
}

.endtext{
    font-size: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 40px;
}

.idk{
    font-size: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    margin-left: 40px;
    
}