@media only screen and (max-width: 600px) {
  .idk, .enddivfinally1, .endtext {
    display: none;
  }
  .fourthtext2 {
    display: none;
  }
  .fix2 {
    display: none;
  }
  .topwhite {
    border: solid 2px #F7F7F7;
    width: 100% px;
    height: 63px;
    margin-top: -10px;
    margin-left: -10px;
  }
  .more1 {
    position: absolute;
    margin-top: -39px;
    margin-left: 447px;
  }
  .account1 {
    position: absolute;
    margin-top: -41px;
    margin-left: 374px;
  }
  .twelve1 {
    position: absolute;
    margin-top: -39px;
    margin-left: 411px;
  }
  .search1 {
    position: absolute;
    margin-top: -47px;
    margin-left: 335px;
  }
  .logo1 {
    margin-top: 9px;
    margin-left: 9px;
  }
  .greyback1 {
    position: absolute;
    left: 0%;
    border: solid 1px #F7F7F7;
    background-color: #F7F7F7;
    width: 600px;
  }
  .whitecont1 {
    border: solid white 2px;
    height: 418px;
    width: 510px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 19px;
  }
  .tolma1 {
    width: 490px;
    height: 310px;
    position: absolute;
    margin-top: -2px;
    margin-left: 8px;
  }
  .tolmatext1 {
    position: absolute;
    font-size: large;
    margin-top: 310px;
    margin-left: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .tolmatext1:active {
    color: orange;
  }
  .tolmatext1:hover {
    color: orange;
  }
  .time1 {
    position: absolute;
    font-size: 10px;
    margin-top: 388px;
    margin-left: 42px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .clock1 {
    position: absolute;
    margin-top: 384px;
    margin-left: 17px;
  }
  .loading1 {
    position: absolute;
    margin-top: 385px;
    margin-left: 73px;
  }
  .rtuli1 {
    position: absolute;
    font-size: 10px;
    margin-top: 388px;
    margin-left: 96px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .meal1 {
    position: absolute;
    margin-top: 384px;
    margin-left: 136px;
  }
  .count1 {
    position: absolute;
    font-size: 10px;
    margin-top: 388px;
    margin-left: 159px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .whitecont2 {
    border: solid white 2px;
    height: 330px;
    width: 510px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 461px;
  }
  .vareniki1 {
    width: 490px;
    height: 310px;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
  }
  .varenikitext1 {
    position: absolute;
    font-size: 17px;
    margin-top: 340px;
    margin-left: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .varenikitext1:active {
    color: orange;
  }
  .varenikitext1:hover {
    color: orange;
  }
  .time2 {
    position: absolute;
    font-size: 10px;
    margin-top: 395px;
    margin-left: 35px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .clock2 {
    position: absolute;
    margin-top: 390px;
    margin-left: 13px;
  }
  .loading2 {
    position: absolute;
    margin-top: 392px;
    margin-left: 67px;
  }
  .martivi1 {
    position: absolute;
    font-size: 10px;
    margin-top: 395px;
    margin-left: 92px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .meal2 {
    position: absolute;
    margin-top: 392px;
    margin-left: 139px;
  }
  .count2 {
    position: absolute;
    font-size: 10px;
    margin-top: 394px;
    margin-left: 163px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .whitecont3 {
    border: solid white 2px;
    height: 330px;
    width: 510px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 890px;
  }
  .salad1 {
    width: 490px;
    height: 310px;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
  }
  .saladtext1 {
    position: absolute;
    font-size: 17px;
    margin-top: 340px;
    margin-left: 12px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .saladtext1:active {
    color: orange;
  }
  .saladtext1:hover {
    color: orange;
  }
  .time3 {
    position: absolute;
    font-size: 10px;
    margin-top: 375px;
    margin-left: 35px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .clock3 {
    position: absolute;
    margin-top: 370px;
    margin-left: 13px;
  }
  .loading3 {
    position: absolute;
    margin-top: 372px;
    margin-left: 67px;
  }
  .martivi3 {
    position: absolute;
    font-size: 10px;
    margin-top: 375px;
    margin-left: 92px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .meal3 {
    position: absolute;
    margin-top: 373px;
    margin-left: 139px;
  }
  .count3 {
    position: absolute;
    font-size: 10px;
    margin-top: 375px;
    margin-left: 163px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .whitecont4 {
    border: solid white 2px;
    height: 330px;
    width: 510px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 1300px;
  }
  .cake1 {
    width: 490px;
    height: 310px;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
  }
  .caketext1 {
    position: absolute;
    font-size: 17px;
    margin-top: 340px;
    margin-left: 12px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .caketext1:active {
    color: orange;
  }
  .caketext1:hover {
    color: orange;
  }
  .whitecont5 {
    border: solid white 2px;
    height: 330px;
    width: 510px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 1700px;
  }
  .whitecont5 .kiwi1 {
    width: 490px;
    height: 310px;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
  }
  .whitecont5 .kiwitext1 {
    position: absolute;
    font-size: 17px;
    margin-top: 340px;
    margin-left: 12px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .whitecont5 .kiwitext1:active {
    color: orange;
  }
  .whitecont5 .kiwitext1:hover {
    color: orange;
  }
  .whitecont6 {
    border-top: orange 3px solid;
    height: 470px;
    width: 510px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 2125px;
  }
  .whitecont6text1 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-left: 100px;
  }
  .whitecont6text1:active {
    color: gray;
  }
  .whitecont6text1:hover {
    color: orange;
  }
  .whitecont6text2 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 100px;
    margin-left: 100px;
  }
  .whitecont6text2:active {
    color: gray;
  }
  .whitecont6text2:hover {
    color: orange;
  }
  .whitecont6text3 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 200px;
    margin-left: 100px;
  }
  .whitecont6text3:active {
    color: gray;
  }
  .whitecont6text3:hover {
    color: orange;
  }
  .whitecont6text4 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 300px;
    margin-left: 100px;
  }
  .whitecont6text4:active {
    color: gray;
  }
  .whitecont6text4:hover {
    color: orange;
  }
  .whitecont6text5 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 400px;
    margin-left: 100px;
  }
  .whitecont6text5:active {
    color: gray;
  }
  .whitecont6text5:hover {
    color: orange;
  }
  .combo1 {
    height: 70px;
    margin-bottom: 4px;
  }
  .outgray1 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: rgb(175, 189, 219);
    margin-top: -30px;
  }
  .graycont1 {
    border-top: rgb(175, 189, 219) 1px solid;
    border-bottom: rgb(175, 189, 219) 1px solid;
    background-color: #F7F7F7;
    height: 350px;
    width: 510px;
    position: absolute;
    margin-left: 12px;
    margin-top: 2650px;
  }
  .graycont1text5 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: rgb(175, 189, 219);
    margin-top: 320px;
  }
  .graycont1text1 {
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 250px;
    margin-left: 20px;
  }
  .graycont1text1:active {
    color: gray;
  }
  .graycont1text1:hover {
    color: orange;
  }
  .graycont1text2 {
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 250px;
    margin-left: 135px;
  }
  .graycont1text2:active {
    color: gray;
  }
  .graycont1text2:hover {
    color: orange;
  }
  .graycont1text3 {
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 250px;
    margin-left: 260px;
  }
  .graycont1text3:active {
    color: gray;
  }
  .graycont1text3:hover {
    color: orange;
  }
  .graycont1text4 {
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 250px;
    margin-left: 350px;
  }
  .graycont1text4:active {
    color: gray;
  }
  .graycont1text4:hover {
    color: orange;
  }
  .combo2 {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
  }
  .enddiv1 {
    border: solid 1px #98b4b4;
    background-color: #98b4b4;
    width: 540px;
    height: 60px;
    margin-top: 3010px;
    margin-left: -10px;
  }
  .enddiv1 .contact {
    border: solid 1px #6c8b8b;
    background-color: #6c8b8b;
    width: 100px;
    height: 33px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 3px;
    position: absolute;
  }
  .enddiv1 .contact2 {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-weight: 400;
    position: absolute;
    font-size: 16px;
    margin-left: 43px;
    margin-top: 15px;
  }
  .enddiv1 .contact2:hover {
    color: orange;
  }
  .enddiv1 .contact3 {
    position: absolute;
    margin-top: 16px;
    margin-left: 22px;
  }
  .enddiv1 .contact4 {
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 50px;
  }
  .enddiv1 .enddiv2 {
    border: #6c8b8b solid 1px;
    background-color: #6c8b8b;
    position: absolute;
    margin-top: 60px;
    width: 540px;
    height: 30px;
  }
  .enddiv1 .link2 {
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 3px;
    color: white;
    text-decoration: none;
  }
  .enddiv1 .enddiv3 {
    border: solid 1px orange;
    background-color: orange;
    position: absolute;
    width: 540px;
    height: 40px;
    margin-top: 90px;
  }
  .enddiv1 .ingridient {
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    margin-left: 130px;
    margin-top: 3px;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .idk, .enddivfinally1, .endtext, .fourthtext2, .thirdtext2, .secondtext2, .firsttext2, .thirdfood {
    display: none;
  }
  .fourthtext2 {
    display: none;
  }
  .fix2 {
    display: none;
  }
  .secondfood {
    display: none;
  }
  .topwhite {
    border: solid 2px #F7F7F7;
    width: 100%;
    height: 63px;
    margin-top: -10px;
    margin-left: -10px;
  }
  .more1 {
    position: absolute;
    margin-top: -39px;
    margin-left: 700px;
  }
  .account1 {
    position: absolute;
    margin-top: -41px;
    margin-left: 670px;
  }
  .twelve1 {
    position: absolute;
    margin-top: -39px;
    margin-left: 645px;
  }
  .search1 {
    position: absolute;
    margin-top: -47px;
    margin-left: 600px;
  }
  .logo1 {
    margin-top: 9px;
    margin-left: 9px;
  }
  .greyback1 {
    position: absolute;
    left: 0%;
    border: solid 1px #F7F7F7;
    background-color: #F7F7F7;
    width: 768px;
  }
  .whitecont1 {
    border: solid white 2px;
    height: 418px;
    width: 710px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 19px;
  }
  .tolma1 {
    width: 690px;
    height: 310px;
    position: absolute;
    margin-top: -2px;
    margin-left: 8px;
  }
  .tolmatext1 {
    position: absolute;
    font-size: large;
    margin-top: 310px;
    margin-left: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .tolmatext1:active {
    color: orange;
  }
  .tolmatext1:hover {
    color: orange;
  }
  .time1 {
    position: absolute;
    font-size: 10px;
    margin-top: 388px;
    margin-left: 42px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .clock1 {
    position: absolute;
    margin-top: 384px;
    margin-left: 17px;
  }
  .loading1 {
    position: absolute;
    margin-top: 385px;
    margin-left: 73px;
  }
  .rtuli1 {
    position: absolute;
    font-size: 10px;
    margin-top: 388px;
    margin-left: 96px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .meal1 {
    position: absolute;
    margin-top: 384px;
    margin-left: 136px;
  }
  .count1 {
    position: absolute;
    font-size: 10px;
    margin-top: 388px;
    margin-left: 159px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .whitecont2 {
    border: solid white 2px;
    height: 330px;
    width: 320px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 461px;
  }
  .vareniki1 {
    width: 305px;
    height: 310px;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
  }
  .varenikitext1 {
    position: absolute;
    font-size: 17px;
    margin-top: 340px;
    margin-left: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .varenikitext1:active {
    color: orange;
  }
  .varenikitext1:hover {
    color: orange;
  }
  .time2 {
    position: absolute;
    font-size: 10px;
    margin-top: 395px;
    margin-left: 35px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .clock2 {
    position: absolute;
    margin-top: 390px;
    margin-left: 13px;
  }
  .loading2 {
    position: absolute;
    margin-top: 392px;
    margin-left: 67px;
  }
  .martivi1 {
    position: absolute;
    font-size: 10px;
    margin-top: 395px;
    margin-left: 92px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .meal2 {
    position: absolute;
    margin-top: 392px;
    margin-left: 139px;
  }
  .count2 {
    position: absolute;
    font-size: 10px;
    margin-top: 394px;
    margin-left: 163px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .whitecont3 {
    border: solid white 2px;
    height: 330px;
    width: 320px;
    background-color: white;
    position: absolute;
    margin-left: 403px;
    margin-top: 461px;
  }
  .salad1 {
    width: 305px;
    height: 310px;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
  }
  .saladtext1 {
    position: absolute;
    font-size: 17px;
    margin-top: 340px;
    margin-left: 12px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .saladtext1:active {
    color: orange;
  }
  .saladtext1:hover {
    color: orange;
  }
  .time3 {
    position: absolute;
    font-size: 10px;
    margin-top: 395px;
    margin-left: 35px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .clock3 {
    position: absolute;
    margin-top: 390px;
    margin-left: 13px;
  }
  .loading3 {
    position: absolute;
    margin-top: 392px;
    margin-left: 67px;
  }
  .martivi3 {
    position: absolute;
    font-size: 10px;
    margin-top: 395px;
    margin-left: 92px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .meal3 {
    position: absolute;
    margin-top: 393px;
    margin-left: 139px;
  }
  .count3 {
    position: absolute;
    font-size: 10px;
    margin-top: 394px;
    margin-left: 163px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82);
  }
  .whitecont4 {
    border: solid white 2px;
    height: 330px;
    width: 320px;
    background-color: white;
    position: absolute;
    margin-left: 403px;
    margin-top: 900px;
  }
  .cake1 {
    width: 305px;
    height: 310px;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
  }
  .caketext1 {
    position: absolute;
    font-size: 17px;
    margin-top: 340px;
    margin-left: 12px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .caketext1:active {
    color: orange;
  }
  .caketext1:hover {
    color: orange;
  }
  .whitecont5 {
    border: solid white 2px;
    height: 330px;
    width: 320px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 900px;
  }
  .whitecont5 .kiwi1 {
    width: 305px;
    height: 310px;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
  }
  .whitecont5 .kiwitext1 {
    position: absolute;
    font-size: 17px;
    margin-top: 340px;
    margin-left: 12px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
  }
  .whitecont5 .kiwitext1:active {
    color: orange;
  }
  .whitecont5 .kiwitext1:hover {
    color: orange;
  }
  .whitecont6 {
    border-top: orange 3px solid;
    height: 472px;
    width: 710px;
    background-color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 1400px;
  }
  .whitecont6text1 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-left: 100px;
  }
  .whitecont6text1:active {
    color: gray;
  }
  .whitecont6text1:hover {
    color: orange;
  }
  .whitecont6text2 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 100px;
    margin-left: 100px;
  }
  .whitecont6text2:active {
    color: gray;
  }
  .whitecont6text2:hover {
    color: orange;
  }
  .whitecont6text3 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 200px;
    margin-left: 100px;
  }
  .whitecont6text3:active {
    color: gray;
  }
  .whitecont6text3:hover {
    color: orange;
  }
  .whitecont6text4 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 300px;
    margin-left: 100px;
  }
  .whitecont6text4:active {
    color: gray;
  }
  .whitecont6text4:hover {
    color: orange;
  }
  .whitecont6text5 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 400px;
    margin-left: 100px;
  }
  .whitecont6text5:active {
    color: gray;
  }
  .whitecont6text5:hover {
    color: orange;
  }
  .combo1 {
    height: 70px;
    margin-bottom: 4px;
  }
  .outgray1 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: rgb(175, 189, 219);
    margin-top: -30px;
  }
  .graycont1 {
    border-top: rgb(175, 189, 219) 1px solid;
    border-bottom: rgb(175, 189, 219) 1px solid;
    background-color: #F7F7F7;
    height: 350px;
    width: 710px;
    position: absolute;
    margin-left: 12px;
    margin-top: 1950px;
  }
  .graycont1text5 {
    position: absolute;
    font-size: 17px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: rgb(175, 189, 219);
    margin-top: 320px;
  }
  .graycont1text1 {
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 250px;
    margin-left: 100px;
  }
  .graycont1text1:active {
    color: gray;
  }
  .graycont1text1:hover {
    color: orange;
  }
  .graycont1text2 {
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 250px;
    margin-left: 220px;
  }
  .graycont1text2:active {
    color: gray;
  }
  .graycont1text2:hover {
    color: orange;
  }
  .graycont1text3 {
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 250px;
    margin-left: 350px;
  }
  .graycont1text3:active {
    color: gray;
  }
  .graycont1text3:hover {
    color: orange;
  }
  .graycont1text4 {
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 250px;
    margin-left: 450px;
  }
  .graycont1text4:active {
    color: gray;
  }
  .graycont1text4:hover {
    color: orange;
  }
  .combo2 {
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
  }
  .enddiv1 {
    border: solid 1px #98b4b4;
    background-color: #98b4b4;
    width: 100% px;
    height: 60px;
    margin-top: 2320px;
    margin-left: -10px;
  }
  .enddiv1 .contact {
    border: solid 1px #6c8b8b;
    background-color: #6c8b8b;
    width: 100px;
    height: 33px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 3px;
    position: absolute;
  }
  .enddiv1 .contact2 {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-weight: 400;
    position: absolute;
    font-size: 16px;
    margin-left: 43px;
    margin-top: 15px;
  }
  .enddiv1 .contact2:hover {
    color: orange;
  }
  .enddiv1 .contact3 {
    position: absolute;
    margin-top: 16px;
    margin-left: 22px;
  }
  .enddiv1 .contact4 {
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 50px;
  }
  .enddiv1 .enddiv2 {
    border: #6c8b8b solid 1px;
    background-color: #6c8b8b;
    position: absolute;
    margin-top: 60px;
    width: 100%;
    height: 30px;
  }
  .enddiv1 .link2 {
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 3px;
    color: white;
    text-decoration: none;
  }
  .enddiv1 .enddiv3 {
    border: solid 1px orange;
    background-color: orange;
    position: absolute;
    width: 100%;
    height: 40px;
    margin-top: 90px;
  }
  .enddiv1 .ingridient {
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    margin-left: 250px;
    margin-top: 3px;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1924px) {
  .logo1, .account1, .search1, .twelve1, .more1, .topwhite, .cake1, .caketext1, .caketext1:active, .caketext1:hover, .clock, .clock1, .clock2, .clock3, .combo1, .combo2, .contact, .contact2, .contact2:hover, .contact3, .contact4, .count1, .count2, .count3, .enddiv1, .enddiv2, .enddiv3, .graycont1text1, .graycont1text1:active, .graycont1text1:hover, .graycont1text2, .graycont1text2:active, .graycont1text2:hover, .graycont1text3, .graycont1text3:active, .graycont1text3:hover, .graycont1text4, .graycont1text4:active, .graycont1text4:hover, .graycont1text5, .tolma1, .kiwi1, .vareniki1, .salad1, .ingridient, .kiwitext1, .kiwitext1:active, .kiwitext1:hover, .link2, .loading1, .loading2, .loading3, .martivi1, .martivi3, .meal1, .meal2, .meal3, .outgray1, .rtuli1, .saladtext1, .saladtext1:active, .saladtext1:hover, .varenikitext1, .varenikitext1:active, .varenikitext1:hover, .tolmatext1, .tolmatext1:hover, .tolmatext1:active, .time1, .time2, .time3, .whitecont1, .whitecont2, .whitecont3, .whitecont4, .whitecont5, .whitecont6, .whitecont6text1, .whitecont6text1:active, .whitecont6text1:hover, .whitecont6text2, .whitecont6text2:active, .whitecont6text2:hover {
    display: none;
  }
  .greybacktop {
    border: solid 1px #F7F7F7;
    width: 1000px;
    height: 200px;
    background-color: #F7F7F7;
    margin: auto;
    margin-top: -20px;
  }
  .greybacktop .logopc {
    width: 325px;
    height: 100px;
    margin-top: 35px;
  }
  .ingridientdiv {
    border: solid orangered 1px;
    background-color: #F7F7F7;
    position: absolute;
    height: 30px;
    width: 200px;
    padding-left: 15px;
    padding-top: 3px;
    margin-left: 425px;
    margin-top: -47px;
  }
  .ingridientdiv .ingridients {
    text-decoration: none;
    color: orangered;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 4px;
  }
  .ingridientdiv .ingridients:active {
    color: orangered;
  }
  .ingridientdiv .ingridients:hover {
    color: white;
  }
  .ingridientdiv:active {
    background-color: #F7F7F7;
  }
  .ingridientdiv:hover {
    background-color: orangered;
  }
  .search2 {
    border: solid #d0d0d0 1px;
    height: 30px;
    width: 270px;
    position: absolute;
    margin-left: 675px;
    margin-top: -43px;
    padding-left: 10px;
    outline: none;
  }
  .searchlogo1 {
    position: absolute;
    margin-left: 910px;
    margin-top: -41px;
  }
  .twelvegrey {
    position: absolute;
    margin-left: 950px;
    margin-top: -50px;
    width: 40px;
  }
  .login {
    position: absolute;
    margin-left: 800px;
    margin-top: -120px;
    text-decoration: none;
    color: gray;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .login:active {
    color: gray;
  }
  .login:hover {
    color: orangered;
  }
  .register {
    position: absolute;
    margin-left: 870px;
    margin-top: -120px;
    text-decoration: none;
    color: gray;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .register:active {
    color: gray;
  }
  .register:hover {
    color: orangered;
  }
  .favoritefood {
    position: absolute;
    margin-left: 750px;
    margin-top: -90px;
    text-decoration: none;
    color: gray;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .favoritefood:active {
    color: gray;
  }
  .favoritefood:hover {
    color: orangered;
  }
  .heart {
    position: absolute;
    margin-left: 970px;
    margin-top: -65px;
  }
  .accountgrey {
    position: absolute;
    margin-left: 973px;
    margin-top: -100px;
  }
  .things2 {
    border: #c5c5c5 solid 1px;
    border-left: none;
    border-right: none;
    width: 980px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .catalogpc {
    height: 39px;
    margin-left: 770px;
    margin-top: -2px;
  }
  .toptextgrey {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
  }
  .desert {
    position: absolute;
    margin-top: -32px;
    margin-left: 14px;
  }
  .desert:active {
    color: orangered;
  }
  .desert:hover {
    color: orangered;
  }
  .comeuli {
    position: absolute;
    margin-top: -32px;
    margin-left: 90px;
  }
  .comeuli:active {
    color: orangered;
  }
  .comeuli:hover {
    color: orangered;
  }
  .pasta {
    position: absolute;
    margin-top: -32px;
    margin-left: 170px;
  }
  .pasta:active {
    color: orangered;
  }
  .pasta:hover {
    color: orangered;
  }
  .xorceuli {
    position: absolute;
    margin-top: -32px;
    margin-left: 230px;
  }
  .xorceuli:active {
    color: orangered;
  }
  .xorceuli:hover {
    color: orangered;
  }
  .zgvis {
    position: absolute;
    margin-top: -32px;
    margin-left: 320px;
  }
  .zgvis:active {
    color: orangered;
  }
  .zgvis:hover {
    color: orangered;
  }
  .bostneuli {
    position: absolute;
    margin-top: -32px;
    margin-left: 460px;
  }
  .bostneuli:active {
    color: orangered;
  }
  .bostneuli:hover {
    color: orangered;
  }
  .wvniani {
    position: absolute;
    margin-top: -32px;
    margin-left: 560px;
  }
  .wvniani:active {
    color: orangered;
  }
  .wvniani:hover {
    color: orangered;
  }
  .salatebi {
    position: absolute;
    margin-top: -32px;
    margin-left: 620px;
  }
  .salatebi:active {
    color: orangered;
  }
  .salatebi:hover {
    color: orangered;
  }
  .sousebi {
    position: absolute;
    margin-top: -32px;
    margin-left: 710px;
  }
  .sousebi:active {
    color: orangered;
  }
  .sousebi:hover {
    color: orangered;
  }
  .statiebi {
    position: absolute;
    margin-top: -32px;
    margin-left: 922px;
  }
  .statiebi:active {
    color: orangered;
  }
  .statiebi:hover {
    color: orangered;
  }
  .combodiv {
    position: absolute;
    border-top: orange solid 13px;
    background-color: white;
    width: 325px;
    height: 525px;
    margin-top: 60px;
    margin-left: 660px;
  }
  .greybackbottom {
    border: solid 1px #F7F7F7;
    width: 1000px;
    height: 1500px;
    background-color: #F7F7F7;
    margin: auto;
    margin-top: -20px;
  }
  .vici {
    margin-left: 5px;
  }
  .zgvis2 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-top: 36px;
    margin-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 200;
  }
  .zgvis2:active {
    color: black;
  }
  .zgvis2:hover {
    color: orange;
  }
  .sauzmeli {
    position: absolute;
    margin-top: 80px;
    margin-left: -105px;
  }
  .sauzmeuli {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-top: 125px;
    margin-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 200;
  }
  .sauzmeuli:active {
    color: black;
  }
  .sauzmeuli:hover {
    color: orange;
  }
  .deserti2 {
    position: absolute;
    margin-top: 190px;
    margin-left: -100px;
  }
  .deserti3 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-top: 225px;
    margin-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 200;
  }
  .deserti3:active {
    color: black;
  }
  .deserti3:hover {
    color: orange;
  }
  .salatebi2 {
    position: absolute;
    margin-left: -100px;
    margin-top: 300px;
  }
  .salatebi3 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-top: 340px;
    margin-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 200;
  }
  .salatebi3:active {
    color: black;
  }
  .salatebi3:hover {
    color: orange;
  }
  .swrafi {
    position: absolute;
    margin-left: -95px;
    margin-top: 410px;
  }
  .swrafi2 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-top: 435px;
    margin-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 200;
  }
  .swrafi2:active {
    color: black;
  }
  .swrafi2:hover {
    color: orange;
  }
  .firstfood {
    position: absolute;
    width: 600px;
    height: 500px;
    margin-left: 20px;
    margin-top: 60px;
  }
  .firstfoodtext {
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 470px;
    margin-left: 30px;
  }
  .firstfoodtext:active {
    color: black;
  }
  .firstfoodtext:hover {
    color: orange;
  }
  .small {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: gray;
  }
  .wuti {
    position: absolute;
    margin-top: 520px;
    margin-left: 59px;
    font-size: 12px;
  }
  .sidznele {
    position: absolute;
    margin-top: 522px;
    margin-left: 118px;
    font-size: 10px;
  }
  .nomeri {
    position: absolute;
    margin-top: 522px;
    margin-left: 180px;
    font-size: 10px;
  }
  .secondfood {
    position: absolute;
    width: 600px;
    height: 500px;
    margin-left: 20px;
    margin-top: 600px;
  }
  .secondfoodtext {
    position: absolute;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    color: black;
  }
  .secondfoodtext:active {
    color: black;
  }
  .secondfoodtext:hover {
    color: orange;
  }
  .firsttext {
    margin-top: 830px;
    margin-left: 30px;
  }
  .secondtext {
    margin-top: 825px;
    margin-left: 360px;
  }
  .thirdtext {
    margin-top: 1120px;
    margin-left: 30px;
  }
  .fourthtext {
    margin-top: 1120px;
    margin-left: 360px;
  }
  .thirdfood {
    position: absolute;
    width: 900px;
    margin-top: 1200px;
    margin-left: 40px;
  }
  .firsttext2 {
    position: absolute;
    margin-top: 1400px;
    margin-left: 120px;
  }
  .secondtext2 {
    position: absolute;
    margin-top: 1400px;
    margin-left: 330px;
  }
  .thirdtext2 {
    position: absolute;
    margin-top: 1400px;
    margin-left: 540px;
  }
  .fourthtext2 {
    position: absolute;
    margin-top: 1400px;
    margin-left: 720px;
  }
  .enddivfinally1 {
    position: absolute;
    border: solid #738e8e 1px;
    background-color: #738e8e;
    width: 1000px;
    height: 80px;
    margin-top: 1500px;
  }
  .endtext {
    font-size: 10px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
    margin-left: 40px;
  }
  .idk {
    font-size: 10px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 30px;
    margin-left: 40px;
  }
  .scalefr {
    border: orange solid 1px;
    background-color: orange;
    position: absolute;
    width: 325px;
    height: 50px;
    margin-top: 550px;
    margin-left: -105px;
  }
  .scalefr .scaleimg {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 6px;
  }
  .scalefr .scaletext {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
    position: absolute;
    margin-top: -25px;
    margin-left: 80px;
    text-decoration: none;
  }
  .scalefr:active {
    border: orange solid 1px;
    background-color: orange;
  }
  .scalefr:hover {
    border: rgb(225, 147, 0) solid 1px;
    background-color: rgb(225, 147, 0);
  }
}/*# sourceMappingURL=style.css.map */